/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #4E6282; }
a:hover {
  color: #4E6282; }

.button {
  border-radius: 100px;
}
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #4E6282;
  border-color: #4E6282; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #4E6282;
  border-color: #4E6282; }

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
section {
  padding: 8rem 0 7rem;
  text-align: center;
}
/* section .heading,
section .description {
  margin-bottom: 1.2rem;
  color: #fff;
} */
/* section .heading {
  font-size: 4em;
  font-family: "Landmark Inline A", "Landmark Inline B";
  font-style: normal;
  font-weight: 400;
} */

section {
  padding: 6em 4em;
  background-size: cover;
  background-position: center;
}
section h1,
section h2 {
  font-size: 6em;
  /* text-transform: uppercase; */
}
section h1 {
  font-family: "Surveyor SSm A", "Surveyor SSm B";
  font-style: normal;
  font-weight: 800;
  /* line-height: .875; */
}
section h2 {
  font-size: 1.25em;
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-style: normal;
  font-weight: 400;
  letter-spacing: .5em;
  text-transform: uppercase;
}
section h3 {
  font-size: 1.25em;
  font-family: "Idlewild SSm A", "Idlewild SSm B";
  font-style: normal;
  font-weight: 600;
  font-color: #3A557C;
  margin-bottom: 3.5em;
}
section p {
  font-family: "Gotham SSm A", "Gotham SSm B";
font-style: normal;
font-weight: 400;
}

/* Intro
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.intro {
  padding: 14em 0;
  background-image: url('images/1.jpg');
}
.intro h1,
.intro h2,
.intro h3 {
  color: white;
}
.intro h3 {
  margin-bottom: .75em;
}
.intro p {
  color: white;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
  background-image: url('images/1.jpg');
  background-size: cover;
}

/* RSVP
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.rsvp {
  /* background-image: url('images/1.jpg'); */
  /* background-size: cover; */
  background-color: #FDCF41;
  color: #000;
}
.rsvp h1 {
  font-size: 3em;
}

/* Stay
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.stay  {
  /* background-image: url('images/1.jpg'); */
  /* background-size: cover; */
}
.stay img {
  margin-bottom: 2em;
}
.stay p {
  font-size: .95em;
  color: grey;
  text-align: left;
}
.stay .small {
  font-size: .875em;
}

/* Photos
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.photos  {
  background-image: url('images/2.jpg');
  padding-bottom: 66%;
}

/* Registry
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.registry img  {
  margin-bottom: 1em;
}

/* .phones {
  position: relative;
}
.phone {
  position: relative;
  max-width: 80%;
  margin: 3rem auto -12rem;
}
.phone + .phone {
  display: none;
} */

/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.values {
  color: #fff;
  padding-bottom: 5rem;
}
.value-multiplier {
  margin-bottom: .5rem;
  color: #11DFC7;
}
.value-heading {
  margin-bottom: .3rem;
}
.value-description {
  opacity: .8;
  font-weight: 300;
}

/* Help
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.get-help {
  border-bottom: 1px solid #ddd;
}

/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.categories {
  /* background-image: url('images/2.jpg');
  background-size: cover; */
  /* color: #fff; */
}
.categories .section-description {
  margin-bottom: 4rem;
}

/* Bigger than 550 */
/* @media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;
  }
  .hero {
    padding-bottom: 12rem;
    text-align: left;
    height: 165px;
  }
  .phone {
    position: absolute;
    top: -7rem;
    right: 3rem;
    max-height: 362px;
    z-index: 3;
  }
  .phone + .phone {
    top: -6rem;
    display: block;
    max-width: 73.8%;
    right: 0;
    z-index: 2;
    max-height: 338px;
  }
  .hero-heading {
    font-size: 2.4rem;
  }
} */

/* Bigger than 750 */
/* @media (min-width: 750px) {
  .hero {
    height: 190px;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  .section {
    padding: 14rem 0 15rem;
  }
  .hero {
    padding: 16rem 0 14rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .phone {
    top: -14rem;
    right: 5rem;
    max-height: 510px;
  }
  .phone + .phone {
    top: -12rem;
    max-height: 472px;
  }
  .categories {
    padding: 15rem 0 8rem;
  }
} */

/* Bigger than 1000 */
/* @media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }
  .hero {
    padding: 22rem 0;
  }
  .hero-heading {
    font-size: 3.0rem;
  }
  .phone {
    top: -16rem;
    max-height: 615px;
  }
  .phone + .phone {
    top: -14rem;
    max-height: 570px;
  }
} */
